@model List<Question>

@{
    Layout = @Layout;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (var question in Model)
      {
          <div class="card">
              <div class="card-header"><a asp-controller="Question" asp-action="Index" asp-route-id="@question.Id">@question.Topic</a> </div>
              <div class="card-body">
                  @if (question.Body.Length > 100)
                  {
                      @question.Body.Substring(0, 100); 
                      <p>...</p>
                    }
                  else
                  {
                      @question.Body
                  }
              </div>
              <div class="card-footer">Created by: <a>@question.Creator.Login</a> on @question.DateCreated</div>
          </div>
      }
</div>
</body>
</html>